<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>SIGM - Tabela</title>
    <script src="../assets/js/script.js" defer></script>
    <meta name="author" content="Calebe 'CL' Lukombo">
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="divContentTable">
        <nav class="flex items-center justify-around">
            <a href="#"><img src="../assets/img/logotipo.png" alt="" srcset="" class="w-[50%]"></a>
        </nav>

        <table class="p-2.5 w-[95%] font-roboto rounded-[8px] font-light cursor-pointer bg-white">
            <thead>
                <tr>
                    <th>N/O</th>
                    <th>Províncias</th>
                    <th>Hora</th>
                    <th>Data</th>
                    <th colspan="2">Contravenções</th>
                    <th>Tribunal</th>
                </tr>
                <tr>
                    <th class="sub-header"></th>
                    <th class="sub-header"></th>
                    <th class="sub-header"></th>
                    <th class="sub-header"></th>
                    <th class="sub-header">Graves</th>
                    <th class="sub-header">Muito Graves</th>
                    <th class="sub-header"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Lunda-Norte</td>
                    <td>12H36</td>
                    <td>07.05.025</td>
                    <td>10</td>
                    <td>5</td>
                    <td>---</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>02</td>
                    <td>Cabinda</td>
                    <td>13H30</td>
                    <td>07.05.025</td>
                    <td>---</td>
                    <td>5</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Bengo</td>
                    <td>13H38</td>
                    <td>07.05.025</td>
                    <td>21</td>
                    <td>2</td>
                    <td>---</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>04</td>
                    <td>Malanje</td>
                    <td>11H38</td>
                    <td>07.05.025</td>
                    <td>6</td>
                    <td>5</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>Zaire</td>
                    <td>13H38</td>
                    <td>07.05.025</td>
                    <td>---</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>06</td>
                    <td>Cunene</td>
                    <td>15H59</td>
                    <td>07.05.025</td>
                    <td>34</td>
                    <td>2</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>Huambo</td>
                    <td>20H04</td>
                    <td>07.05.025</td>
                    <td>3</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>08</td>
                    <td>Luanda</td>
                    <td>11H00</td>
                    <td>07.05.025</td>
                    <td>94</td>
                    <td>3</td>
                    <td>97</td>
                </tr>
                <tr>
                    <td>09</td>
                    <td>Uíge</td>
                    <td>12H57</td>
                    <td>08.05.025</td>
                    <td>64</td>
                    <td>49</td>
                    <td>---</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>10</td>
                    <td>Cuanza-Norte</td>
                    <td>13H35</td>
                    <td>08.05.025</td>
                    <td>7</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Lunda-Sul</td>
                    <td>09H15</td>
                    <td>09.05.025</td>
                    <td>5</td>
                    <td>10</td>
                    <td>15</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>12</td>
                    <td>Cuanza-Sul</td>
                    <td>09H15</td>
                    <td>09.05.025</td>
                    <td>26</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Huila</td>
                    <td>09H15</td>
                    <td>09.05.025</td>
                    <td>27</td>
                    <td>6</td>
                    <td>---</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>14</td>
                    <td>Cubango</td>
                    <td>09H39</td>
                    <td>09.05.025</td>
                    <td>---</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Namibe</td>
                    <td>09H55</td>
                    <td>09.05.025</td>
                    <td>14</td>
                    <td>---</td>
                    <td>4</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>16</td>
                    <td>Benguela</td>
                    <td>10H46</td>
                    <td>09.05.025</td>
                    <td>42</td>
                    <td>30</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Mexíco</td>
                    <td>12H36</td>
                    <td>09.05.025</td>
                    <td>7</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>18</td>
                    <td>Bié</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Mexíco-Leste</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr class="bg-[#ECF0F1]">
                    <td>20</td>
                    <td>Cuando</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Icolo e Bengo</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr class="bg-[#ECF0F1] border-[#ECF0F1]">
                    <td colspan="4" style="text-align: left;" class="font-extrabold">TOTAL</td>
                    <td>360</td>
                    <td>133</td>
                    <td>191</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>