<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>SIGM - Multas</title>
    <script src="../assets/js/script.js" defer></script>
    <meta name="author" content="Calebe 'CL' Lukombo">
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="p-7">

        <div class="divInicialTelas">
            <nav class="flex items-center justify-center">
                <a href="../index.html"><img src="../assets/img/logotipo.png" alt="" class="w-[65%]"></a>
            </nav>
            <nav>
                <h1 class="font-roboto text-[#0c215e] font-bold text-[17pt]">Explore connosco</h1>
                <p class="font-arimo font-extralight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit et, corporis molestias quos quo pariatur quasi delectus dolor tempore? Praesentium autem temporibus dolore repellat architecto! Ut dolor iste laborum omnis.</p>
            </nav>
        </div>

        <div class="navContentTela1">

            <div class="cardTela1 border-2 border-l-[#e74c3c]">
                <nav class="cabecaCardTela1">
                    <i class="fas fa-file-invoice-dollar bg-[#e74c3c]"></i>
                    <h3>Total de Multas</h3>
                </nav>
                <nav>
                    <h5 class="dados text-[#e74c3c]">45.897</h5>
                </nav>
            </div>

            <div class="cardTela1 border-2 border-l-[#f39c12]">
                <nav class="cabecaCardTela1">
                    <i class="fas fa-exclamation-triangle bg-[#f39c12]"></i>
                    <h3>Contravenções Graves</h3>
                </nav>
                <nav>
                    <h5 class="dados text-[#f39c12]">12.321</h5>
                </nav>
            </div>

            <div class="cardTela1 border-2 border-l-[#e74c3c]">
                <nav class="cabecaCardTela1">
                    <i class="fas fa-exclamation-circle bg-[#e74c3c]"></i>
                    <h3>Contravenções Menos Graves</h3>
                </nav>
                <nav>
                    <h5 class="dados text-[#e74c3c]">9.952</h5>
                </nav>
            </div>

            <div class="cardTela1 border-2 border-l-[#2ecc71]">
                <nav class="cabecaCardTela1">
                    <i class="fas fa-info-circle bg-[#2ecc71]"></i>
                    <h3>Contravenções Leves</h3>
                </nav>
                <nav>
                    <h5 class="dados text-[#2ecc71]">13.458</h5>
                </nav>
            </div>

            <div class="cardTela1 border-2 border-l-blue-400">
                <nav class="cabecaCardTela1">
                    <i class="fa-solid fa-book bg-blue-400"></i>
                    <h3>Re-exames</h3>
                </nav>
                <nav>
                    <h5 class="dados text-blue-400">27.365</h5>
                </nav>
            </div>

            <div class="cardTela1 border-2 border-l-[#2ecc71]">
                <nav class="cabecaCardTela1">
                    <i class="fas fa-gavel bg-[#2ecc71]"></i>
                    <h3>Processos Criminais</h3>
                </nav>
                <nav>
                    <h5 class="dados text-[#2ecc71]">27.365</h5>
                </nav>
            </div>

            <div class="cardTela1 border-2 border-l-[#1abc9c]">
                <nav class="cabecaCardTela1">
                    <i class="fas fa-balance-scale bg-[#1abc9c]"></i>
                    <h3>Processos Contravencionais</h3>
                </nav>
                <nav>
                    <h5 class="text-[#1abc9c] dados">2.060</h5>
                </nav>
            </div>

            <div class="cardTela1 border-2 border-l-[#2ecc71]">
                <nav class="cabecaCardTela1">
                    <i class="fas fa-scroll bg-[#2ecc71]"></i>
                    <h3>Sentenças ditadas pelo Tribunal</h3>
                </nav>
                <nav>
                    <h5 class="text-[#2ecc71] dados">8.340</h5>
                </nav>
            </div>

            <div class="cardTela1 border-2 border-l-black">
                <nav class="cabecaCardTela1">
                    <i class="fa-solid fa-file text-white bg-black"></i>
                    <h3>Inibições</h3>
                </nav>
                <nav>
                    <h5 class="text-black dados">1.046</h5>
                </nav>
            </div>

        </div>

    </nav>
</body>
</html>