<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>SIGM - Selecionar Opção</title>
    <script src="../assets/js/script.js" defer></script>
    <meta name="author" content="Calebe 'CL' Lukombo">
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="contentOpcao">
        <nav class="flex items-center justify-center md:justify-start">
            <a href="pageSelect.html"><img src="../assets/img/logotipo.png" alt="logotipo do SIGM" class="w-[70%]"></a>
        </nav>
        <nav>
            <nav>
                <h1 class="text-[20pt] text-[#0c215e] font-roboto font-extrabold text-justify">O que você pretende fazer hoje? <span class="text-gray-800">Escolha uma opção abaixo ou clique <a href="../index.html" class="text-[#0c215e] underline">aqui</a> para voltar.</span></h1>
                <nav class="flex justify-center gap-4 mt-3 md:flex-row flex-col items-center">
                    <a href="#"><button class="btnForm hover:scale-105">Registrar Infrações</button></a>
                    <a href="#"><button class="btnForm hover:scale-105">Multas</button></a>
            </nav>
        </nav>
        <nav class="mt-[20%] md:mt-0 text-center">
            <p>Software desenvolvido pela <a href="https://zeiner.co.ao" target="_self" rel="no-referrer"><span class="font-bold text-[#0c215e]">ZE<span class="text-red-500">I</span>NER Inc.</span></a></p>
            <p>&copy;2025 <span class="font-bold text-[#0c215e]">DTSER - Direção de Trânsito e Segurança Rodoviária</span></p>
        </nav>
    </div>
</body>
</html>