<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>SIGM - Registro de Infrações</title>
    <meta name="author" content="Calebe 'CL' Lukombo">
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/css/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="p-7">
        <div class="divInicialTelas justify-between">
            <nav class="flex items-center justify-center">
                <a href="../index.html"><img src="../assets/img/logotipo.png" alt="" class="w-[40%]"></a>
            </nav>
            <nav>
                <input type="search" name="" id="" placeholder="Pesquisar..." class="inputPesquisa">
            </nav>
        </div>

        <div class="navContentTela2">
            <form>
                <nav class="navContentCardTela2">

                    <div class="cardContent2 border-l-green-500 border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-circle-user text-green-500"></i>
                            <h3 class="text-green-500">Dados do Condutor</h3>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="nomeCondutor">Nome do Condutor</label>
                            <input type="text" placeholder="Nome do Condutor" id="nomeCondutor">
                        </nav>
                        
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="filiacao">Filiação</label>
                            <input type="text" placeholder="Filiação" id="filiacao">
                        </nav>
                        
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="dataNascimento">Data de Nascimento</label>
                            <input type="date" id="dataNascimento">
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="NumCarta">Núm. da Carta</label>
                            <input type="text" placeholder="Núm. da Carta" id="NumCarta">
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="dataEmissao">Data de Emissão</label>
                            <input type="date" id="dataEmissao">
                        </nav>
                    </div>
                    
                    <div class="cardContent2 border-l-yellow-400 border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-car-side text-yellow-400"></i>
                            <h3 class="text-yellow-400">Dados do Veículo</h3>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="matricula">Matrícula</label>
                            <input type="text" placeholder="Matrícula" id="matricula">
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="chassis">Chassis</label>
                            <input type="text" placeholder="Chassis" id="chassis">
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="cor">Cor</label>
                            <input type="text" placeholder="Cor" id="cor">
                        </nav>
                    </div>
                    
                    <div class="cardContent2 border-l-violet-700 border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid text-violet-700 fa-road-bridge"></i>
                            <h3 class="text-violet-700">Dados da Infração</h3>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="previsao">Previsão</label>
                            <input type="text" placeholder="Previsão" id="previsao">
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="punicao">Punição</label>
                            <input type="text" placeholder="Punição" id="punicao">
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="descricao">Descrição</label>
                            <textarea placeholder="Descrição" id="descricao"></textarea>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="ucfs">UCF's</label>
                            <input type="text" placeholder="UCF's" id="ucfs">
                        </nav>
                    </div>
                    
                    <div class="cardContent2 border-l-red-500 border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-triangle-exclamation text-red-500"></i>
                            <h3 class="text-red-500">Contravenções</h3>
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="leve">Leve</label>
                            <input type="radio" id="leve" name="gravidade">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="grave">Grave</label>
                            <input type="radio" id="grave" name="gravidade">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="muitoGrave">Muito Grave</label>
                            <input type="radio" id="muitoGrave" name="gravidade">
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="numTelefoneInfrator">Núm. Telefone</label>
                            <input type="text" placeholder="Núm. Telefone" id="numTelefoneInfrator">
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="mensagemInfrator">Mensagem</label>
                            <textarea id="mensagemInfrator"></textarea>
                        </nav>
                    </div>
                    
                    <!-- <div class="cardContent2 border-l-blue-700 border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-file text-blue-700"></i>
                            <h3 class="text-blue-700">Registro Probatório</h3>
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="habilitadoDesde">Habilitado desde</label>
                            <input type="date" id="habilitadoDesde">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="simProbatorio">Sim</label>
                            <input type="radio" id="simProbatorio" name="probatorio">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="naoProbatorio">Não</label>
                            <input type="radio" id="naoProbatorio" name="probatorio">
                        </nav>
                    </div> -->
                    
                    <div class="cardContent2 border-l-gray-500 border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-gavel text-gray-500"></i>
                            <h3 class="text-gray-500">Remessa ao Tribunal</h3>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="numOficio">Núm. Ofício</label>
                            <input type="text" placeholder="Núm. Ofício" id="numOficio">
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="numCartaConducaoTribunal">Núm. Carta Condução Tribunal</label>
                            <input type="text" placeholder="Núm. Carta Condução" id="numCartaConducaoTribunal">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="dataEnvioTribunal">Data de Envio</label>
                            <input type="date" id="dataEnvioTribunal">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="prazoEnvioTribunal">Prazo de Envio</label>
                            <input type="radio" id="prazoEnvioTribunal" name="prazoEnvioTribunal"><br>
                            <label for="prazoEnvioTribunal">Fora do Prazo de Envio</label>
                            <input type="radio" id="foraPrazoEnvioTribunal" name="prazoEnvioTribunal">
                        </nav>
                    </div>
                    
                    <div class="cardContent2 border-l-orange-400 border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-address-card text-orange-400"></i>
                            <h3 class="text-orange-400">Anexar Documentos</h3>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="anexarDocumentos">Clique para anexar</label>
                            <input type="file" id="anexarDocumentos">
                        </nav>
                    </div>
                    
                    <!-- <div class="cardContent2 border-l-black border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-book-open-reader"></i>
                            <h3>Relatório</h3>
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="diario">Diário</label>
                            <input type="radio" id="diario" name="relatorio">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="semanal">Semanal</label>
                            <input type="radio" id="semanal" name="relatorio">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="mensal">Mensal</label>
                            <input type="radio" id="mensal" name="relatorio">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="trimestral">Trimestral</label>
                            <input type="radio" id="trimestral" name="relatorio">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="semestral">Semestral</label>
                            <input type="radio" id="semestral" name="relatorio">
                        </nav>
                        <nav class="navInputsTela2">
                            <label for="anual">Anual</label>
                            <input type="radio" id="anual" name="relatorio">
                        </nav>
                    </div> -->
                    
                    <!-- <div class="cardContent2 border-pink-500 border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-chart-simple text-pink-500"></i>
                            <h3 class="text-pink-500">Gráfico Nacional de Multas</h3>
                        </nav>
                        <nav class="navInputsTela2">
                            <div class="tabelaGrafico">
                                <h5>[ESPAÇO PARA GRÁFICO DE DADOS]</h5>
                            </div>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="numMultasAplicadas" class="text-center">Núm. de Multas Aplicadas</label>
                            <h4 class="numMultas">245.847</h4>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="numMultasPagas" class="text-center">Núm. de Multas Pagas</label>
                            <h4 class="numMultas">123.456</h4>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="numMultasAnuladas" class="text-center">Núm. de Multas Anuladas</label>
                            <h4 class="numMultas">523.586</h4>
                        </nav>
                    </div> -->
                    
                    <div class="cardContent2 border-l-black border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-money-bill-wave"></i>
                            <h3>Pagamento de Emolumentos</h3>
                        </nav>
                        <nav class="navInputsTela2 navInputsTela2Col">
                            <label for="nif">NIF</label>
                            <input type="texto" id="nif" name="nif" placeholder="Introduza o seu NIF">
                        </nav>
                        <nav class="navInputsTela2 flex items-center justify-center mt-2.5">
                            <button class="hover:bg-black hover:text-white p-1 font-roboto font-medium border-2 border-black cursor-pointer transition-all duration-300 ease-linear">Gerar RUPE</button>
                        </nav>
                    </div>

                    <div class="cardContent2 border-pink-500 border-l-2">
                        <nav class="cabecalhoNavTela2">
                            <i class="fa-solid fa-gears text-pink-500"></i>
                            <h3 class="text-pink-500">Reincidências</h3>
                        </nav>
                        <nav class="navInputsTela2">
                            <div class="tabelaGrafico text-center">
                                <h5>[ESPAÇO PARA VER HISTÓRICO]</h5>
                            </div>
                        </nav>
                        <nav class="navInputsTela2 flex justify-center">
                            <button type="button" class="hover:bg-pink-500 hover:text-white p-1 font-roboto font-medium border-2 border-pink-500 text-pink-500 cursor-pointer transition-all duration-300 ease-linear">Ver Histórico</button>
                        </nav>
                    </div>

                </nav>

                <nav class="navBotoesForm flex items-center justify-center pt-3.5 gap-2">
                    <a href="#"><button type="" class="bg-red-500 font-roboto font-medium p-1.5 text-white transition-all duration-300 hover:scale-125">Sair</button></a>
                    <button type="button" class="bg-green-500 text-white font-roboto font-medium p-1.5 transition-all duration-300 hover:scale-125">Validar</button>
                </nav>
                
            </form>
        </div>

    </nav>
</body>
</html>